/* 
color pallette: 
*/
p{
color: #03246d;
color: #08409C;
color: #E35254;
color: #DC2126;
color: #42C1DF;
color: #A9CBD4;
color: #8E3A5A;
color: #3B3565;
color: #9A0B17;
color: #0E76C5;
color: #2A91C0;
}